#HTTPS Redirect
#HRewriteCond %{HTTP:X-Forwarded-Proto} !https
#HRewriteCond %{HTTPS} off
#HRewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule !.(\.gif|\.jpg|\.png|\.swf|\.xml)$   index.php

RewriteCond %{HTTP_HOST} ^typejuggling\.test$ [OR]
RewriteCond %{HTTP_HOST} ^www\.typejuggling\.test$
RewriteRule ^/?$ "http\:\/\/www\.typejuggling\.test\/" [R=301,L]

