#HTTPS Redirect
#HRewriteCond %{HTTP:X-Forwarded-Proto} !https
#HRewriteCond %{HTTPS} off
#HRewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule !.(\.gif|\.jpg|\.png|\.swf|\.xml)$   index.php

RewriteCond %{HTTP_HOST} ^ec2-18-234-218-202.compute-1.amazonaws/\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ec2-18-234-218-202.compute-1.amazonaws\.com$
RewriteRule ^/?$ "http\:\/\/www\.ec2-18-234-218-202.compute-1.amazonaws\.com\/" [R=301,L]

